.explore-top {
  padding: 5px 15px;
}
.diet-filter-parent {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.category-filter-parent {
  display: flex;
  background-color: #e7e7e7;
  padding: 10px 0;
}

.location-filter-parent {
  display: flex;
}
.location-filter-parent h2 {
  display: block;
}
