.explore-top {
  padding: 5px 15px;
}

.category-filter-parent {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.location-filter-parent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.location-filter-parent h2 {
  display: block;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scroll-container {
  display: flex;
  flex-wrap: wrap;
}

.explore-h2 {
  padding: 10px 0;
}

#edamam-badge {
  padding: 15px;
}

.spacer {
  height: 50px;
}
