<h1>Explore</h1>
<app-search-bar></app-search-bar>

<!-- Parent container for the GF, DF, V, VG, K diet filters -->
<div class="diet-filter-parent">
  <app-dietary-filter
    *ngFor="let diet of dietFilters"
    [diet]="diet"
  ></app-dietary-filter>
</div>

<!-- Parent container for filtering by meal-type -->
<div class="category-filter-parent">
  <h2>Category</h2>
  <app-category-filter
    *ngFor="let category of categoryFilter"
    [category]="category"
  ></app-category-filter>
</div>

<!-- Parent container for filtering by location -->
<div class="location-filter-parent">
  <h2>Inpired Cuisine</h2>
  <app-location-filter
    *ngFor="let location of locationFilter"
    [location]="location"
  ></app-location-filter>
</div>

<!-- Keeping for reference. Will remove later. 
    <ul>
  <li *ngFor="let recipe of (recipes | async)?.hits">
    {{ recipe.recipe.label }}
  </li>
</ul> -->
