<header class="nav-parent">
  <div class="top-container">
    <div class="byteMe-logo" routerLink="/explore">
      <img src="assets/byte-me-logo.svg" alt="Byte Me logo" />
    </div>
    <button class="log-out" (click)="authService.SignOut()">Log Out</button>
  </div>
  <!-- This navigation will be fixed on mobile, but will appear in top right using flexbox on desktop -->
  <nav class="icon-nav">
    <!-- Explore -->
    <a routerLink="/explore" aria-label="Explore recipes"
      ><fa-icon [icon]="faCompass" size="lg" class="nav-icon"></fa-icon
    ></a>
    <!-- Recipe Book -->
    <a routerLink="/recipeBook" aria-label="View saved recipe book"
      ><fa-icon [icon]="faBook" size="lg" class="nav-icon"></fa-icon
    ></a>
    <!-- Calculator -->
    <a routerLink="/conversions" aria-label="Calculate conversions"
      ><fa-icon [icon]="faCalculator" size="lg" class="nav-icon"></fa-icon
    ></a>
    <!-- Shopping List -->
    <a routerLink="/shoppingList" aria-label="View shopping list"
      ><fa-icon [icon]="faList" size="lg" class="nav-icon"></fa-icon
    ></a>
  </nav>
</header>

<router-outlet></router-outlet>
