<!-- parent container for ingredients -->
<div class="ingredient-parent">
  <!-- Container for ingredient amount -->
  <div class="ingredient-amount-container">
    <p class="measurement">{{ ingredient.measurement }}</p>
    <p class="ingredient-name">{{ ingredient.ingredient }}</p>
  </div>
  <!-- container for add to shopping list button -->
  <div class="add-to-shopping-list">
    <button class="add-to-shopping-list" name="add-to-shopping-list">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
</div>
