.displayTable {
  display: flex;
  flex-direction: column;
}

.displayTableCell {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup input {
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.formGroup label {
  font-weight: 500;
}

.authBlock {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px 30px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  background-color: #5abf73;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

.byte-in-btn {
  margin-top: 20px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #5abf73;
  border: none;
  padding: 5px;
  font-weight: 500;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#sign-in-user {
  margin-bottom: 10px;
}

.redirect {
  font-weight: 500;
}

.redirectToLogin {
  background-color: #f0f0f0;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.additional-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  margin-top: 5px;
}

.forgotPassword {
  margin: 10px;
  font-size: 14px;
  color: #5abf73;
}
.logo-container img {
  width: 250px;
}

#byte-me-logo-white {
  padding-top: 20vh;
}

@media only screen and (min-width: 500px) {
  .displayTable {
    align-items: center;
  }
  .logo-container {
    width: 100vw;
  }

  .displayTableCell,
  .additional-links {
    width: 500px;
  }
}

@media only screen and (min-width: 720px) {
  .displayTableCell,
  .additional-links {
    width: 100%;
    padding: 0px 5vw;
  }
  .displayTable {
    flex-direction: row;
    height: 100vh;
  }
  .logo-container {
    height: 100vh;
    border-radius: 0;
    display: flex;
    max-width: 50vw;
  }
  #byte-me-logo-white {
    padding: 40vh 30px 0px 30px;
  }
}
