<!-- Logo/Log Out/Nav at Bottom -->
<app-main-layout></app-main-layout>

<div class="shopping-list-container">
  <h1>Shopping List</h1>

  <div class="shopping-list-text-area">
    <textarea
      [(ngModel)]="newListItem"
      aria-label="Add item to shopping list"
      type="text"
      id="shoppingList"
      name="shoppingList"
      placeholder="Don't forget to buy..."
    ></textarea>
    <button (click)="addListItem()" class="add-btn">Add</button>
  </div>
  <div class="added-items">
    <div
      *ngFor="let item of shoppingList; index as i"
      [item]="item"
      class="newListItem"
    >
      <p>{{ item }}</p>
      <button (click)="removeListItem(i)" class="remove-btn">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
</div>
