<!-- Logo/Log Out/Nav at Bottom -->
<app-main-layout></app-main-layout>

<h2>Your favorite bytes</h2>
<section *ngIf='recipeList? recipeList.length===0 :""'>
    <p>No bytes have been given a green heart <fa-icon [icon]='faHeart'></fa-icon>
    </p>
    <img src="./../../assets/emptyPlate.jpeg" alt="empty plate with sad face drawn on"/>
</section>
<section *ngFor="let recipe of recipeList">
    <div>
        <fa-icon style="color: #5ABF73" [icon]="faTrash" (click)='removeRecipe(event)'></fa-icon>
    </div>
    <div>recipes go here</div>
</section>
