.search-bar-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.search-bar-with-icon {
  display: flex;
  background-color: #f7f7f7;
  border: 1px solid #cecece;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
  padding: 8px 5px;
}

#recipe-search-input {
  background-color: #f7f7f7;
  border: none;
  width: 100%;
  padding: 0 5px;
}

#recipe-search-button {
  background-color: white;
  padding: 8px 5px;
  margin: 0px;
  border: 1px solid #cecece;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  color: #5abf73;
}

.faSearch {
  padding: 0 20px 0 10px;
  color: #9d9d9d;
}

.diet-filter-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 5px 0px;
  margin-bottom: 10px;
}

#random-recipe-button {
  min-width: 120px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #5abf73;
  border: none;
  color: white;
  font-weight: 500;
}
#random-recipe-button:hover {
  background-color: #449859;
}

@media only screen and (min-width: 720px) {
  .search-filter-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .search-bar-container {
    height: 42px;
    max-width: 600px;
    margin-right: 15px;
  }
}
