<app-main-layout></app-main-layout>

<!-- Container for top recipe card section -->
<div class="recipe-top-container">
  <app-recipe-card-result [result]="recipe"></app-recipe-card-result>
</div>
<!-- Container for entire servings componenet
  <div class="servings-parent">
    <app-recipe-card-servings
      [serving]="recipe.recipe.yield"
    ></app-recipe-card-servings>
  </div>
</div> -->
<div class="bottom-container">
  <mat-tab-group>
    <mat-tab label="Ingredients">
      <app-recipe-view-ingredients
        *ngFor="let ingredient of recipe.recipe.ingredientLines"
        [ingredient]="ingredient"
      ></app-recipe-view-ingredients>
    </mat-tab>
    <mat-tab label="Directions">
      <!-- <app-recipe-view-directions
      *ngFor="
        let direction of (instructions | async)?.analyzedInstructions.steps;
        let i = index
      "
      [direction]="direction.step"
      [i]="i"
    ></app-recipe-view-directions> -->
      <app-recipe-view-directions
        [direction]="(instructions | async)?.instructions"
      ></app-recipe-view-directions>
    </mat-tab>
    <mat-tab label="Notes">
      <app-recipe-view-notes></app-recipe-view-notes>
    </mat-tab>
  </mat-tab-group>
  <div class="recipe-button-container">
    <button class="view-recipe">
      View Full Recipe <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
    </button>
    <button class="print-recipe">
      Print Recipe <fa-icon [icon]="faPrint"></fa-icon>
    </button>
  </div>
</div>
<!-- Notes container -->
