.recipe-top-container {
  padding: 5px;
  margin: 5px 15px 0px 15px;
}

.bottom-container {
  padding: 15px;
  background-color: #f0f0f0;
}

.recipe-time-parent {
  display: flex;
  flex-direction: row;
}

.recipe-time-child {
  display: flex;
  flex-direction: row;
}

.ingredient-parent {
  padding: 5px;
  margin: 5px;
}

.direction-parent {
  padding: 5px;
  margin: 5px;
}

.mat-tab-group {
  padding: 0px 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  background-color: white;
}

.recipe-button-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
}

.view-recipe,
.print-recipe {
  margin: 20px 5px 0px 5px;
  width: 180px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 500;
}
.fa-icon {
  padding-left: 5px;
}
.view-recipe {
  color: white;
  background-color: #5abf73;
  border: 2px solid #5abf73;
}

.view-recipe:hover {
  background-color: #449859;
  border: 2px solid #449859;
}

.print-recipe {
  color: #4d434b;
  border: 2px solid #4d434b;
  background-color: #f0f0f0;
}

.print-recipe:hover {
  background-color: #4d434b;
  color: white;
}

.component-container {
  padding: 15px;
  border: 1px solid #cecece;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
}

@media only screen and (min-width: 720px) {
  .no-tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .component-container {
    width: 40%;
    margin: 2px 5px;
  }
  .recipe-button-container {
    display: flex;
    flex-direction: row;
  }
}
