<!-- <app-recipe-card-result></app-recipe-card-result> -->
<div class="recipe-card-result">
  <img
    class="recipe-card-result-image"
    src="{{ recipe.image }}"
    onerror="this.onerror=null;this.src='/assets/byte-me-default.png';"
    alt="{{ recipe.label }}"
  />
  <div class="recipe-card-top-info">
    <h3>{{ recipe.label }}</h3>
    <div class="recipe-card-bottom-info">
      <p class="recipe-card-type">{{ recipe.dishType }}</p>
      <!-- WIll have to update to link to boolean -->
    </div>
  </div>
</div>
