/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Red Hat Text", sans-serif;
}
body {
  font-family: "Zilla Slab", serif;
}
