<div class="displayTable">
  <h1 class="header-container">WANNA BYTE?</h1>
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 class="redirect" routerLink="/sign-in">Sign Up</h3>

      <div class="formGroup">
        <label for="email">Email</label>
        <input
          name="email"
          type="email"
          class="formControl"
          placeholder="Email Address"
          #userEmail
          required
        />
      </div>

      <div class="formGroup">
        <label for="password">Password</label>
        <input
          name="password"
          type="password"
          class="formControl"
          placeholder="Password (min. 6 charaters)"
          #userPwd
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="button"
          class="sign-up-btn"
          value="Sign Up"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
          routerLink="/sign-in"
        />
      </div>

      <!-- <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div> -->

      <!-- Continue with Google -->
      <!-- <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div> -->

      <!-- Continue with Facebook -->
      <!-- <div class="formGroup">
        <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
          <i class="fab fa-facebook"></i>
          Continue with Facebook
        </button>
      </div> -->
    </div>

    <div class="redirectToLogin">
      <p>
        Already have an account?
        <a class="redirect" routerLink="/sign-in">Log In</a>
      </p>
    </div>
  </div>
</div>
